<!-- Author:  Nanthakumar -->

<!DOCTYPE html>
{% load static %}

<html lang="en" prefix="og: http://ogp.me/ns#">
<title>Flames Game</title>
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="{% static 'project-2.jpg' %}"/>
    <meta property="og:image:alt" content="{% static 'paper1.jpg' %}"/>
    <meta name="google-site-verification" content="5BaDU3C3ougJeTQQ4GDfyf33NqV9xNKfyhbX90KkJpc"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% if successful_submit %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#exampleModal").modal('show');
        });













    </script>
    {% endif %}
</head>
<body>

<form action=""
      method="post">

    {% csrf_token %}
    <div class="login-box">
        <h1>Flames</h1>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" name='n1' placeholder="Your Name">
        </div>
        <div class="textbox">
            <i style="color: red" class="fas fa-user"></i>
            <input style="color: red" type="text" name='n2' placeholder="Your Crush Name">
        </div>
        <div style="text-align: center">

            <button type="submit" class="btn btn-outline-primary rounded-pill"> Check Relation</button>

        </div>
    </div>
</form>


<!-- Button to Open the Modal -->

<!-- The Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->

            <div class="modal-header">
                <h4 class="new">Flame Game Result</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <h2 class="new">The Relation is : {{result}} </h2>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="" role="button" class="btn btn-outline-primary rounded-pill"><span>Play Again</span></a>
            </div>
        </div>
    </div>
</div>
{% if messages %}
<div class="fixed-top" id="msgcontainer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                {% for message in messages %}
                {% if 'error' in message.tags %}
                <div class="alert alert-danger rounded-pill">
                    <div>
                        <strong>{{ message }}</strong>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% for message in messages %}
                {% if 'success' in message.tags %}
                <div class="alert alert-success rounded-pill">
                    <div style="padding: 0px">
                        <strong>{{ message }}</strong>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
</body>
<div class="fixed-bottom">
    <div class="row justify-content-center">
        <div style="background-color:cyan" class="rounded-pill">
            <div class="container">
                <div class="btn-group">
                    <a class="btn btn-default btn-lg btn-icon roundes-pill"
                       href="https://wa.me/+918695255075" target="_blank" data-toggle="tooltip"
                       title="Contact through whatsapp"><i style="color:green"
                                                           class="fab fa-whatsapp"></i></a>
                    <a class="btn btn-default btn-lg btn-icon rounded-pill"
                       href="https://www.facebook.com/nanthakumar.jj.98/" target="_blank" data-toggle="tooltip"
                       title="Follow me on Facebook"><i style="color:blue" class="fab fa-facebook"></i></a>
                    <a
                            class="btn btn-default btn-lg btn-icon btn-round rounded-pill"
                            href="https://www.linkedin.com/in/nanthakumarjj-b58335148/" target="_blank"
                            data-toggle="tooltip"
                            title="Follow me on Linkedin"><i style="color:blue" class="fab fa-linkedin"></i></a>
                    <a
                            class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://www.hackerrank.com/jjnanthakumar477" target="_blank" data-toggle="tooltip"
                            title="Follow me on HackerRank">
                        <div style="font-size: 21px;margin:0px auto"><i style="color: green" class="iconify"
                                                                        data-icon="simple-icons:hackerrank"></i>
                        </div>
                    </a>
                    <a
                            class="btn btn-default btn-lg btn-icon rounded-pill" aria-expanded="false"
                            href="https://www.hackerearth.com/@jjnanthakumar1096" target="_blank"
                            data-toggle="tooltip"
                            title="Follow me on HackerEarth">
                        <div style="font-size: 21px;margin:0px auto"><i style="color:darkblue" class="iconify"
                                                                        data-icon="simple-icons:hackerearth"></i>
                        </div>
                    </a>
                    <a
                            class="btn btn-default btn-lg btn-icon rounded-pill"
                            href="https://github.com/jjnanthakumar" target="_blank" data-toggle="tooltip"
                            title="Follow me on Github"><i class="fab fa-github" style="color:black"></i></a>
                    <a class="btn btn-default btn-lg btn-icon rounded-pill"
                       href="https://www.instagram.com/nanthakumarjj_17/?hl=en" target="_blank"
                       data-toggle="tooltip"
                       title="Follow me on Instagram"><i style="color:red" class="fab fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</div>
</html>

<!-- Author:  Nanthakumar -->